<a class="lockup no-underline inline-block" href="{{ url('<front>') }}">
  <div class="flex flex-col md:flex-row basefont-19">
    <div class="logo text-cardinal-red type-4 leading-half pt-11 pr-7 mr-7 md:border-r border-solid border-black">
      <img src="{{ site_logo }}" alt=""/>
    </div>
    <div class="text-25 md:text-m2 -mt-3 md:mt-0 -ml-2 md:ml-0 font-regular relative top-6 text-black">
      {{ site_name }}
    </div>
  </div>
</a>

