<a class="su-lockup su-no-underline su-inline-block" href="{{ url('<front>') }}">
  <div class="su-flex su-flex-col md:su-flex-row su-basefont-19">
    <div class="su-logo su-text-cardinal-red su-type-4 su-leading-half su-pt-11 su-pr-7 su-mr-7 md:su-border-r su-border-solid su-border-black">
      <img src="{{ site_logo }}" alt=""/>
    </div>
    <div class="su-text-25 md:su-text-m2 su--mt-3 md:su-mt-0 su--ml-2 md:su-ml-0 su-font-regular su-relative su-top-6 su-text-black">
      {{ site_name }}
    </div>
  </div>
</a>

