<div
  class="
    cc
    global-footer
    basefont-20
    rs-py-1
    text-white
    bg-cardinal-red
  "
>
  <div
    class="flex flex-col lg:flex-row"
    title="Common Stanford resources"
  >
    <div class="text-center mt-5 mb-9">
      <a
        class="logo text-white hocus:text-white type-3"
        href="https://www.stanford.edu"
      >
        Stanford
        <br />
        University
      </a>
    </div>
    <div
      class="
        lg:pl-45
        xl:pl-50
        text-left
        sm:text-center
        lg:text-left
        flex-grow
      "
    >
      <nav
        aria-label="global footer menu"
        class="
          flex flex-row
          sm:flex-col
          justify-center
          sm:items-center
          lg:items-start
          mb-10
        "
      >
        <ul
          class="
            list-unstyled mb-10
            sm:mb-4
            mr-19
            sm:mr-0
            p-0 text-15
            md:text-17
            2xl:text-18
            flex flex-col
            sm:flex-row
          "
        >
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://www.stanford.edu"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Stanford Home
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://visit.stanford.edu/plan/"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Maps &amp; Directions
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://www.stanford.edu/search/"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Search Stanford
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li>
            <a
              href="https://emergency.stanford.edu"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Emergency Info
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
        </ul>
        <ul
          class="
            list-unstyled mb-10
            sm:mb-0
            ml-19
            sm:ml-0
            p-0 text-15
            sm:text-14
            md:text-15
            xl:text-16
            flex flex-col
            sm:flex-row sm:link-regular
          "
        >
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://www.stanford.edu/site/terms/"
              title="Terms of use for sites"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Terms of Use
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://www.stanford.edu/site/privacy/"
              title="Privacy and cookie policy"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Privacy
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://uit.stanford.edu/security/copyright-infringement"
              title="Report alleged copyright infringement"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Copyright
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4"
              title="Ownership and use of Stanford trademarks and images"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Trademarks
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li class="sm:mr-10 md:mr-20 lg:mr-27">
            <a
              href="https://bulletin.stanford.edu/pages/c7vDgeOuJIfpZe8GKmW3"
              title="Non-discrimination policy"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Non-Discrimination
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
          <li>
            <a
              href="https://www.stanford.edu/site/accessibility"
              title="Report web accessibility issues"
              class="
                text-white no-underline
                hocus:underline hocus:text-white
              "
            >
              Accessibility
              <span class="sr-only">(link is external)</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="text-13 sm:text-14 text-center lg:text-left">
        <span class="whitespace-no-wrap">© Stanford University.</span>
        <span class="whitespace-no-wrap">
          &nbsp; Stanford, California 94305.
        </span>
      </div>
    </div>
  </div>
</div>
