@charset 'UTF-8';

.policy {
  @include responsive-spacing('padding-bottom', 9);

  .jumpstart-ui--two-column {
    &.flex-container  {
      align-items: baseline;
    }
  }

  // Previous and Next
  .book-forward-back {
    a {
      @include button-secondary;
    }

    .su-list-unstyled {
      &.flex-container {
        justify-content: flex-end;
        gap: 25px;
      }
    }
  }

  //layout for buttons on different display widths
  .su-policy--top {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "left main";

    .left-region {
      grid-area: left;
      flex: unset;
      max-width: unset;
    }

    .main-region {
      grid-area: main;
      flex: unset;
      max-width: unset;
    }

    @include grid-media-max('md') {
      grid-template-areas:
      "main"
      "left";
      grid-template-columns: 1fr;

      .book-forward-back {
        @include responsive-spacing('padding-top', 2);

        .su-list-unstyled {
          justify-content: flex-start;
        }
      }
    }
  }

  // Policy title
  .node-stanford-policy-title {
    @include responsive-spacing('padding-top', 4);
  }

  // Dates
  .su-policy-effective,
  .su-policy-updated {
    div {
      &:first-of-type {
        font-weight: $su-font-bold;
      }
    }
  }

  .su-policy-effective {
    @include responsive-spacing('padding-bottom', 0);

  }

  // Authority field
  .su-policy-authority {
    div {
      display: inline;
    }

    div {
      &:first-of-type {
        font-weight: $su-font-bold;

        &::after {
          content: ':';
        }
      }
    }
  }

  // Grid setup
  .node-stanford-policy-su-policy-updated {
    grid-area: last-updated;
    padding-bottom: 1em;
  }

  .printable-links-block {
    grid-area: print;
    justify-self: right;
  }

  .su-policy-authority {
    grid-area: authority;
  }


  .node-stanford-policy-body {
    @include responsive-spacing('padding-bottom', 5);

    border-bottom: 1px solid $su-color-black-20;
    grid-area: policy-body;
  }

  .policies-child-pages {
    grid-area: policies-child-pages;
  }

  .change-logs-node-page-changes {
    grid-area: change-logs-node-page-changes;
  }

  .flex-lg-9-of-12 {
    &.main-region {
      @include responsive-spacing('margin-bottom', 1);

      display: grid;
      grid-template-columns: repeat (1fr);
      grid-template-rows: auto;
      grid-template-areas:
      "authority print"
      "last-updated print"
      "change-logs-node-page-changes change-logs-node-page-changes"
      "policy-body policy-body"
      "policies-child-pages policies-child-pages";
    }
  }

  // Print
  .printable-links-block {
    ul {
      list-style: none;
      margin-top: 0;

      li {
        a {
          text-decoration: none;

          &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f02f";
            padding-left: 10px;
          }

          &:hover,
          &:active,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Main content area.
  .main-policy--content {
    @include responsive-spacing('padding-top', 7);
  }

  // Related policies in cards
  .node-stanford-policy-su-policy-related {
    @include responsive-spacing('margin-top', 9);
  }

  .block__title {
    @include responsive-spacing('margin-bottom', 1);

    text-align: center;
  }

  .su-policy-related {

    h3 {
      a {
        @include type-f;

        color: $su-color-bright-red;
        display: inline-block;
        font-weight: $su-font-bold;

        &::after {
          background-color: $su-color-bright-red;
        }

        &:hover,
        &:focus {
          color: $su-color-black;
          text-decoration: underline;

          &::after {
            background-color: $su-color-black;
          }
        }
      }
    }
  }
}

// Change logs
.change-logs-node-page-changes,
.change-logs-policy-changes {
  @include responsive-spacing('padding', 4 2 2 2);
  @include responsive-spacing('margin-bottom', 2);

  background-color: $su-color-black-10;
  border: 1px solid $su-color-black-40;

  .views-row {
    display: grid;
    grid-template-columns:  20% 4% 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "date pipe title"
    "notes notes notes";

    @include grid-media-max('md') {
      grid-template-columns:  30% 4% 1fr;

    }

    @include grid-media-max('xs') {
      display: block;
    }
  }

  .block__title {
    @include type-d;

    text-align: left;
  }

  h2 {
    @include type-d;

    a {
      @include link-icon(caret-right, 18px, right);

      color: $su-color-bright-red;

      &:hover,
      &:focus {
        color: $su-color-black;
        text-decoration: underline;

        &::after {
          background-color: $su-color-black;
        }
      }
    }
  }

  .views-field-title {
    grid-area: title;
  }

  .views-field-su-policy-date {
    grid-area: date;
  }

  .separator {
    grid-area: pipe;

    @include grid-media-max('xs') {
      display: none;
    }
  }

  .views-field-su-policy-notes {
    grid-area: notes;
  }

  .views-field-su-policy-date,
  .views-field-title {
    h3 {
      @include type-e;
    }

    time {
      font-weight: $su-font-bold;

    }
  }

  .views-row {
    margin-bottom: 1.9em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
