// Styles for the homepage component.
#opportunities-homepage {
  & > div > div {
    background: inherit;
    box-shadow: none;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .centered-container {
    width: 100%;
    max-width: 100%;
  }

  .flex-container > div {
    flex: 0 0 100%;
    max-width: 100%;

    &:first-child > div {
      display: grid;
      grid-template-columns: calc(50% - 9px) calc(50% - 9px);
      grid-gap: 18px;
      grid-template-areas:
      "opp-type opp-type"
      "open-to service-theme";

      > div {
        &:first-child {
          grid-area: opp-type;
        }

        &:nth-child(2) {
          grid-area: open-to;
        }

        &:nth-child(3) {
          grid-area: service-theme;
        }
      }



      .MuiAutocomplete-root {
        background-color: #fff;
        margin-bottom: 25px;

        .MuiAutocomplete-endAdornment {
          margin-right: 0;
        }

        &:not([class*='Mui-focused']) {
          .MuiInputBase-input:not([value='']) {
            padding-top: 25px;
          }
        }

        .MuiChip-root {
          display: inline-flex;
          width: initial;

          .MuiChip-label {
            width: 80%;
            text-align: left;
          }
        }
      }
    }

    &:last-child {
      justify-content: flex-end;
    }

    @media only screen and (max-width: 576px) {
      &:first-child > div {
        display: flex;
        flex-direction: column;

        > div {
          &:first-child {
            grid-area: unset;
          }

          &:nth-child(2),
          &:nth-child(3) {
            grid-area: unset;
          }
        }
      }
    }
  }
}
