#stories-filters {
  & div > div {
    background: transparent;
    box-shadow: none;
    border-bottom: 0;
  }

  .main-filters {
    display: flex;
    flex-direction: row;

    .filter-select-container {
      flex-grow: 1;
    }
  }
}
