//
// Secondary Navigation
//
// Decanter overrides.

.su-secondary-nav {
  @include modular-spacing('margin-bottom', 8);

  &,
  .su-secondary-nav__menu {
    background: transparent;
  }

  .su-secondary-nav__link {
    border-top: 0;
    font-weight: $su-font-regular;
    font-size: 1.7rem;
  }

  > .su-secondary-nav__menu {
    @include margin(null null null 0);
    @include padding(null null null 0);

    > .su-secondary-nav__item {
      border-top: solid 1px #d9d9d9;
      line-height: 1.2em;
    }

    > .su-secondary-nav__item:first-child {
      border: 0;
    }

  }

  // Adding in the carets for desktop only.
  @include grid-media-min('lg') {
    .su-secondary-nav__item--parent {
      >.su-secondary-nav__link {
        padding-right: 0;
        padding-left: 2.0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &::before {
          background-color: transparent;
        }

        &::after {
          content: '';
          display: inline-block;
          position: relative;
          visibility: visible;
          margin: 0 10px 0 18px;
          background: transparent url("../../assets/svg/caret-down-grey.svg") no-repeat right / 10px;
          min-height: 6px;
          transform: none;
          min-width: 10px;
        }

        &:hover {
          &::after {
            background-color: transparent;
          }
        }
      }
    }
  }
}


