.sort-links {
  margin-top: 72px;
  margin-bottom: 36px;

  a {
    &:nth-child(1),
    &:nth-child(2) {
      text-decoration: none;
    }

    &:nth-child(2) {
      margin-left: 10px;
    }

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }

    .fas {
      margin: 0 10px;
    }
  }
}

.centered-container {
  > .flex-10-of-12 {
    margin-left: auto;
    margin-right: auto;
  }
}
