{% set background = image|render|striptags('<img> <source> <picture>')|trim %}

<div{{ attributes.addClass('su-mission-statement') }}>
  <div class="su-hero-text-overlay">
    <div class="background">
      {% if background %}
        <div class="background-image">
          {{ background|raw }}
        </div>
      {% endif %}
      </div>

      <div class="overlay">
        <div class="overlay-text">
          {{ overlay }}
        </div>
        <div class="overlay-cta">
          {{ cta }}
        </div>
      </div>
    </div>
</div>
