{# This is a minimal template that should be overridden by a theme. #}
<div{{ attributes }}>
  {{ 'You are seeing this page because you are logged in with appropriate permissions. For anonymous users, this page will redirect to'|t }} {{ link(destination, destination) }}
</div>
