{% extends "@jumpstart_ui/components/local-footer/local-footer.html.twig" %}

{% block block_lockup %}
  {% block cell1 %}
  {% if use_logo == "0" %}
    {% embed "@decanter/components/lockup/lockup.twig" with lockup_options %}

      {% set image_alt = line1 %}
      {# if the option was set to logo only. Remove the lines. #}
      {% if 'su-lockup--option-none' in lockup_option %}
        {% set line1 = '' %}
        {% set line2 = '' %}
        {% set line3 = '' %}
        {% set line4 = '' %}
        {% set line5 = '' %}
      {% endif %}

      {# Override cell 1 with the logo. #}
      {% block cell1 %}
        <div class="su-lockup__logo-wrapper">
          <img src="{{ site_logo }}" alt="{{ image_alt }}" class="su-lockup__custom-logo" />
          {% if line4 is not empty %}
            <span class="su-lockup__line4">{{ line4 }}</span>
          {% endif %}
        </div>
      {% endblock %}
    {% endembed %}
  
  {% else %}
    {% include "@minimally_branded_subtheme/components/lockup/lockup.html.twig" with lockup_options only %}
  {% endif %}

  {% endblock %}
{% endblock %}
