#resources-filters {
  .main-filters {
    display: flex;
    flex-direction: row;

    .filter-select-container {
      flex-grow: 1;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .main-filters {
      display: block;

      .filter-select-container:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    .flex-lg-1-of-12 {
      > div {
        display: flex;
        justify-content: center;
      }
    }
  }
}
