@charset "UTF-8";

.config_pages--type--stanford-basic-site-settings {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  width: fit-content;
}

.su-site-header-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.su-site-header-button {
  margin-bottom: 20px;
}

// Decanter overrides.
// ----------------------------------------------------------------------
.su-masthead {
  z-index: 11;

  .region {
    width: 100%;
  }

  .region-header {
    @include grid-media-max('md') {
      @include flex-column(10);
    }

    @include grid-media('lg') {
      @include flex-column(8);
    }
  }

  .region-search {
    @include grid-media-max('md') {
      display: none;
    }

    @include grid-media-max('md') {
      @include flex-column(2);
    }

    @include grid-media('lg') {
      @include flex-column(4);
    }
  }

  .su-multi-menu {
    @include grid-media-max('md') {
      > ul {
        @include box-shadow('medium', 0);
      }
    }

    .su-multi-menu__nav-toggle[aria-expanded=true] + .su-multi-menu__menu-lv1 {
      width: 100vw;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);

      @include grid-media('md') {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    > ul,
    .su-multi-menu__nav-toggle[aria-expanded="true"] + .su-multi-menu__menu-lv1 + .su-site-search {
      @include grid-media-only('md') {
        width: 40rem;
      }

    }
  }

  > section:last-of-type {
    @include grid-media('lg') {
      @include padding(3.6rem null null null);
    }
  }

  .su-lockup {
    max-width: 100%;

    @include grid-media('lg') {
      @include margin(null null 2.2rem null);
    }
  }

  li.su-mobile-site-search {
    display: none;

    @include grid-media-max('md') {
      display: block;
    }
  }

  .su-site-search {
    max-width: 100%;
  }

  .su-site-search__input {
    @include padding(0.6rem 2rem 0.8rem);
    font-family: $su-font-sans;
    border: 1px solid #d9d9d9;
  }

  .su-site-search__submit {
    color: unset;
    opacity: 100;
    right: 1.6rem;
  }

}
