@charset "UTF-8";

// Decanter overrides.
// ----------------------------------------------------------------------
.su-masthead {
  z-index: 11;

  .su-multi-menu {
    @include grid-media-max('md') {
      > ul {
        @include box-shadow('medium', 0);
      }
    }

    .su-multi-menu__nav-toggle[aria-expanded=true] + .su-multi-menu__menu-lv1 {
      width: 100vw;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);

      @include grid-media('md') {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    > ul,
    .su-multi-menu__nav-toggle[aria-expanded="true"] + .su-multi-menu__menu-lv1 + .su-site-search {
      @include grid-media-only('md') {
        width: 40rem;
      }

    }
  }

  > section:last-of-type {
    @include grid-media('lg') {
      @include padding(3.6rem null null null);
    }
  }

  .su-lockup {
    @include grid-media('lg') {
      @include margin(null null 2.2rem null);
    }
  }

  li.su-mobile-site-search {
    display: none;

    @include grid-media-max('md') {
      display: block;
    }
  }

  .su-site-search__input {
    @include padding(0.6rem 2rem 0.8rem);
    font-family: $su-font-sans;
    border: 1px solid #d9d9d9;
  }

  .su-site-search__submit {
    color: unset;
    opacity: 100;
    right: 1.6rem;
  }

}
