
<div class="cc local-footer rs-pt-4 rs-pb-5 bg-foggy-light text-black">
  <div class="flex flex-col grid-gap justify-between md:flex-row rs-mb-2">
    <div class="flex-grow">
      <a class="lockup no-underline inline-block" href="/">
        <div class="flex flex-col md:flex-row basefont-19">
          <div class="logo text-cardinal-red type-4 leading-half pt-11 pr-7 mr-7 md:border-r border-solid border-black">Stanford</div>
          <div class="text-25 md:text-m2 -mt-3 md:mt-0 -ml-2 md:ml-0 font-regular relative top-6 text-black">{{ lockup_title|render_clean }}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="grid grid-gap grid-cols-1 md:grid-cols-2 xl:grid-cols-4 text-18 link-regular">
    <div>
      <ul class="list-unstyled">
        [add action links
      </ul>
    </div>
    <div>
      <h2 class="font-serif text-20 tracking-none">[add primary link header]</h2>
      <ul class="list-unstyled">
        [add primary links]
      </ul>
    </div>
    <div>
      <h2 class="font-serif text-20 tracking-none">[add secondary link header]</h2>
      <ul class="list-unstyled">
        [add secondary links
      </ul>
    </div>
    <div>
      [add tertiary area]
    </div>
  </div>
</div>
